/Lab2B/HelloWord/nbproject/private/
/Lab2B/HelloWord/build/
/SimpleCalculatorLab/nbproject/private/
/SimpleCalculatorLab/build/
/ImprovedCalculatorLab/nbproject/private/
/ImprovedCalculatorLab/build/
/SimplestServletDemo/nbproject/private/
/SimplestServletDemo/build/
/QuizJSPServletLab/nbproject/private/
/QuizJSPServletLab/build/
/QuizServletLab/nbproject/private/
/QuizServletLab/build/
/JSPIntroDemo/nbproject/private/
/JSPIntroDemo/build/
/ForEachDemo/nbproject/private/
/ForEachDemo/build/