/Lab2B/HelloWord/nbproject/private/
/Lab2B/HelloWord/build/
/SimpleCalculatorLab/nbproject/private/
/SimpleCalculatorLab/build/
/ImprovedCalculatorLab/nbproject/private/
/ImprovedCalculatorLab/build/
/SimplestServletDemo/nbproject/private/
/SimplestServletDemo/build/
/QuizJSPServletLab/nbproject/private/
/QuizJSPServletLab/build/
/QuizServletLab/nbproject/private/
/QuizServletLab/build/
/JSPIntroDemo/nbproject/private/
/JSPIntroDemo/build/
/ForEachDemo/nbproject/private/
/ForEachDemo/build/
/Beer/nbproject/private/
/Beer/build/
/BeerJSTL/nbproject/private/
/BeerJSTL/build/
/NewCustomTag/nbproject/private/
/NewCustomTag/build/
/DictionaryProject/nbproject/private/
/DictionaryProjectOld/nbproject/private/
/DictionaryProject/target/